/* Inicio Whatsapp */
.whatsapp {
    position: fixed;
    top: 400px;
    left: 20px;
    z-index: 200;
}
    .whatsapp img {
        height: 60px;
    }
    /* Inicio do efeito pulse */
    .whatsapp .pulse {
        animation: pulse 0.7s infinite;
        margin: 0auto;
        display: table;
        margin-top: 50px;
        animation-direction: alternate;
        -webkit-animation-name: pulse;
        animation-name: pulse;
    }
    @-webkit-keyframes pulse {
        0%{
            -webkit-transform: scale(1);
            -webkit-filter: brightness(100%);
        }
        100%{
            transform: scale(1.1);
            filter: brightness(110%);            
        }
    }
    @keyframes pulse {
        0%{
            -webkit-transform: scale(1);
            -webkit-filter: brightness(100%);
        }
        100%{
            transform: scale(1.1);
            filter: brightness(110%);            
        }
    }
    /* Fim do efeito pulse */
    /* Inicio Footer */

    /* Fim Footer */