/* Arquivo da folha estilo de todos site */
/* Inicio CSS estilo header */
body, url{
    margin: 0px;
    padding: 0px;
}
#menu a {
    color: black;
    /* não ter a linha que nem de link */
    text-decoration: none;
    /* tipo font */
    font-family: sans-serif;
    /* tamanho font */
    font-size: 15px;
}
#menu a:hover{
    background: rgba(9, 207, 151, 0.718);
    font-size: 15px;
}
#logo {
    font-size: 1.5rem;
}
#logo img{
    height: 60px;
}
#logo img:hover{
    box-shadow: 2px 2px 4px #00ffbb;
    transition: 0.3s;
}
#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #03e89c;
}
#menu{
    display: flex;
    list-style: none;
    gap: 0.5rem;
}
#btn-mobile{
    display: none;
}
/* Fim CSS estilo header */